<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net48" />
  <package id="Dapper" version="2.0.35" targetFramework="net48" />
  <package id="Dapper.Contrib" version="2.0.35" targetFramework="net48" />
  <package id="Dapper.Mapper" version="2.0.0" targetFramework="net48" />
  <package id="Dapper.Tvp" version="1.0.0" targetFramework="net48" />
</packages>